<footer>
  <hr />
    <div class="container text-center">
    <p class=""><small>Unless stated otherwise, this site and everything within is copyright &copy; <%= Time.now.year.to_s %> Allan Berry, and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons (CC BY-SA 3.0) License</a>.</small></p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
  
    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><img src="/img/site/html5_badge.png" alt="HTML5 Badge" id="html5_logo" /></a>
  </div>
</footer>
