<footer>
  <hr />
  <div class="container span12 text-center">
    <p class="">Unless stated otherwise, this site and everything within is copyright &copy; <%= Time.now.year.to_s %> Allan Berry,
      and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons (CC BY-SA 3.0) License</a>.</p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
  </div>
</footer>
