<header>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">allanberry.com</a>
      <ul class="nav">
        <li <% if request.path_info == '/'            %>class="active"<% end %> ><a href="/">Home</a></li>
        <li <% if request.path_info =~ /\/about\/?/   %>class="active"<% end %> ><a href="/about">About</a></li>
        <li <% if request.path_info =~ /\/contact\/?/ %>class="active"<% end %> ><a href="/contact">Contact</a></li>
        <ul class="nav">
          <li class="<% if request.path_info =~ /\/(art|design|collection|software|illustration|works)\/?/ %>active ><% end %>dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Works
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/art">Fine Art</a></li>
                <li><a href="/collections">Collections &amp; Preservation</a></li>
                <li><a href="/design">Design</a></li>
                <li><a href="/illustration">Illustration</a></li>
                <li><a href="/software">Software &amp; Systems</a></li>
                <hr />
                <li><a href="/works">All Works</a></li>
              </ul>
          </li>
        </ul>
        <!--<li <% if request.path_info =~ /\/sketches\/?/ %>class="active"<% end %> ><a href="/sketches">Sketchbook</a></li>-->
      </ul>
      <!--<form class="navbar-form navbar-search pull-right">
        <input type="text" class="search-query span2"  placeholder="Search">
        <button type="submit" class="btn btn-inverse">Submit</button>
      </form>-->
    </div>
  </div>
</header>