<a href="/"><img src="/img/site/logo_sidenav.png" id="logo_sidenav" class="align-center" alt="Allan's Logo" /></a>

<ul class="nav nav-tabs nav-stacked">
  <li><a href="/preservation">Digital Preservation</a></li>
  <li><a href="/design">Graphic Design</a></li>
  <li><a href="/art">Fine Art</a></li>
</ul>