<div id="logoland" class="row text-center">
  <div class="span3" id="logogo_sidenav">
    <a href="/">
      <object data="/img/site/logogo.svg" type="image/svg+xml" class="logogo" id="logogo_sidebar_svg" onload="animate_logo()">
        <img src="/img/site/logogo.png" class="logogo" /><!-- fallback -->
      </object>
    </a>
  </div>
</div>

<script>
  function animate_logo() {
    var ajb_logo = getSvgById("logogo_sidebar_svg").selectAll("polygon");
    ajb_logo.on("mouseover", function(){d3.select(this).style("fill", "none").style("stroke", "none")});
  }


</script>

<ul class="nav nav-tabs nav-stacked">
  <% if request.path_info == '/preservation' %><li class="active"><% else %><li><% end %><a href="/preservation">Systems &amp; Digital Preservation</a></li>
  <% if request.path_info == '/design' %><li class="active"><% else %><li><% end %><a href="/design">Design &amp; Illustration</a></li>
  <% if request.path_info == '/art' %><li class="active"><% else %><li><% end %><a href="/art">Fine Art</a></li>
  <br />
  <% if request.path_info == '/works' %><li class="active"><% else %><li><% end %><a href="/works">All Works</a></li>
</ul>