<div id="logoland" class="row text-center">
  <div class="span3" id="logogo_sidenav">
    <a href="/">
      <object data="/img/site/logogo.svg" type="image/svg+xml" class="logogo" id="logogo_sidebar_svg" onload="animate_logo()">
        <img src="/img/site/logogo.png" class="logogo" /><!-- fallback -->
      </object>
    </a>
  </div>
</div>

<script>
  function animate_logo() {
    var polygons = getSvgById("logogo_sidebar_svg").selectAll("polygon");
        polygons.on("mouseover", function(){d3.select(this).style("fill", "none").style("stroke", "#BBE")});
  }
</script>

<ul class="nav nav-tabs nav-stacked">
  <% if request.path_info == '/art' %><li class="active"><% else %><li><% end %><a href="/art">Fine Art</a></li>
  <% if request.path_info == '/collections' %><li class="active"><% else %><li><% end %><a href="/collections">Collections &amp; Preservation</a></li>
  <% if request.path_info == '/design' %><li class="active"><% else %><li><% end %><a href="/design">Design</a></li>
  <% if request.path_info == '/illustration' %><li class="active"><% else %><li><% end %><a href="/illustration">Illustration</a></li>
  <% if request.path_info == '/software' %><li class="active"><% else %><li><% end %><a href="/software">Software &amp; Systems</a></li>
  <br />
  <% if request.path_info == '/works' %><li class="active"><% else %><li><% end %><a href="/works">All Works</a></li>
</ul>