#ajb-body {
  padding-top: 10px;
  padding-bottom: 40px;
}

.navbar-search {
  margin-top: 0; /* override troublesome bootstrap property*/
}

h1, h2, h3, h4, h5, h6, .brand {
  font-family: 'Montserrat', sans-serif;
}

#logo_sidenav {
  text-align: center;
  margin-bottom: 10px;
}

/* footer */
#html5_logo {
  padding: 10px;
}

/* splash page */
#splash-header {
  background-image: url("/img/site/splash/header_01.jpg");
  color: white;
  text-shadow: #666 0.1em 0.1em 0.2em;
}

/* work popups */
.work_main_thumbnail {
  margin-left: 10px;
}