<h1 class="page-header">Hello D3 and SVG</h1>
<p class="lead">June, 2013: A test of <a href="http://d3js.org/">Data Driven Documents</a> and linked SVG.</p>

<table>
  <tr>
    <td class="span2"><p>Here's a linked SVG.</p></td>
    <td><object data="/svg/circles.svg" type="image/svg+xml" id="circles_nochange" onload="changeColor()"></object></td>
  </tr>

  <tr>
    <td>Here's the same SVG, modified by D3.</p></td>
    <td><object data="/svg/circles.svg" type="image/svg+xml" id="circles_change" onload="changeColor()"></object></td>
  </tr>

</table>

<script>
  function changeColor() {
    var circles = getSvgById("circles_change").selectAll("circle");
    circles.attr("fill", "#007")
      .attr("stroke", "#00E");
  }
</script>