<h1 class="page-header">Mucha</h1>
<p class="lead">July-August, 2013 (in progress): Art as interface.</p>
<p>Here I'm tracing a poster by Alphonse Mucha, the great Czech/American artist (who taught at the Art Institute of Chicago, by the way).</p>
<p>I'm using it as an exercise in SVG and D3.</p>

<object data="/svg/mucha/job-1896.svg" type="image/svg+xml" id="mucha" onload=""></object>

<script>
  
</script>