<h1 class="page-header">About</h1>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#about_ajb" data-toggle="tab">About Allan Berry</a></li>
    <li><a href="#colophon" data-toggle="tab">Colophon</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="about_ajb">
      <h3>Bio</h3>
      <p class="lead">Allan Berry is a librarian and designer in Chicago, Illinois.</p>
      <p>Allan grew up in Detroit, attending the Detroit Public Schools.  After studying studio art at the University of Michigan, Allan moved to Chicago to learn the ropes of design, art collections, art galleries and museums.</p>
      <p>In 2007, he went back to school, and has since completed two masters degrees from the University of Illinois: an MA in Art History and an MS in Library and Information Science.</p>
      <p>Currently, Allan lives in Chicago's Pilsen neighborhood with his wife <a href="http://tiffanyannfunk.com">Tiffany Funk</a>.  They are expecting their first child in August, 2013.</p>
      <p class="lead"><a href="/contact">Contact Allan Berry</a></p>

      <h3>Curriculum Vitae</h3>
      <p class="lead">Allan can implement cutting-edge systems for physical and digital special collections.</p>
      <p>He has particular strengths in documentation, resource display, pedagogy, and user-facing systems.</p>
      <p>At the moment, Allan's primary preoccupation is web application development, in particular using the Rails and Sinatra web application frameworks.</p>
      <p class="lead"><a href="/doc/cv/allanberry-resume_2013-07.pdf">Download Allan's resume</a> <small>(PDF 47K)</small></p>
      <div class="accordion" id="cv_accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse_education" href="#collapse_education">
              <h4>Education</h4>
            </a>
          </div>
          <div id="collapse_education" class="accordion-body collapse in">
            <div class="accordion-inner">
              <dl>
                <dt>Master of Science: Library &amp; Information Science</dt>
                  <dd>May 2013: University of Illinois, Urbana-Champaign</dd>
                  <dd><ul>
                    <li>Concentration in Digital Preservation and Special Collections.</li>
                    <li>Completed coursework in User Experience Design and Interfaces, Data Curation, Project Management and Museum Informatics.</li>
                  </ul></dd>
                <dt>Master of Arts: Art History</dt>
                  <dd>May 2011: University of Illinois, Chicago</dd>
                  <dd><ul>
                    <li>Concentration in Museum Studies.</li>
                    <li>Completed coursework in premodern and modern art, architecture, and art technology.</li>
                    <li>Thesis: <a href="/doc/thesis/allanberry_thesis_catalogues.pdf">Documenting the Modern Museum: a Survey of Anglo-American Museum Catalogues.</a> (PDF 21M)</li>
                  </ul></dd>
                <dt>Bachelor of Fine Arts: Painting &amp; Drawing</dt>
                  <dd>May 1999: University of Michigan, Ann Arbor</dd>
                  <dd><ul>
                    <li>Wilt Memorial Award for Drawing</li>
                    <li>Completed coursework in Fine Art, Photography, Design, and the mechanics of making art in various media.</li>
                  </ul></dd>
                <dt>Diploma</dt>
                  <dd>May 1995: Cass Technical High School, Detroit</dd>
                  <dd><ul>
                    <li>Concentration in Commercial Art.</li>
                  </ul></dd>
                <!--<dt>Certificate: Special Collections</dt>
                  <dd>May 2013: University of Illinois at Urbana-Champaign</dd>
                  <dd><ul>
                    <li>Trained in special collections aspects and procedures.</li>
                  </ul></dd>-->
                <dt>Certificate: Visual Resources Management</dt>
                  <dd>May 2012: Art Libraries Association of North America, Summer Educational Institute</dd>
                  <dd><ul>
                    <li>Trained in practical object digitization and metadata procedures.</li>
                  </ul></dd>
              </dl>
            </div><!-- accordion inner -->
          </div><!-- accordion body -->
        </div><!-- accordion group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse_employment" href="#collapse_employment">
              <h4>Employment</h4>
            </a>
          </div>
          <div id="collapse_employment" class="accordion-body collapse">
            <div class="accordion-inner">
              <dl>
                <dt>Collections Manager – Private Client, Chicago</dt>
                  <dd>November 2012 – April 2013</dd>
                  <dd><ul>
                    <li>Built a collection system for a private art and book collection, with Filemaker, Ruby, and Adobe InDesign.</li>
                    <li>Catalogued and digitized hundreds of rare books, drawings and prints.  Regular handling of artwork.</li>
                    <li>Designed and published a <a href="/works/gordon">printed catalogue.</a></li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Software Designer – University of Illinois at Chicago, <a href="http://www.lsri.uic.edu/">Learning Sciences Research Institute</a></dt>
                  <dd>September 2010 – August 2012</dd>
                  <dd><ul>
                    <li>Created <a href="/works/connchem">Java simulations and printed books</a> for a high school chemistry curriculum.</li>
                    <li>Part of a small team.  Manager of two programmers.  Regular interaction with specialists and end-users.</li>
                    <li>Managed a Macintosh server and a fleet of laptops.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Intern – <a href="http://www.newberry.org/cartography-special-map-collections-and-strengths">The Newberry Library, Special Collections, Cartography</a></dt>
                  <dd>September 2011 – August 2012</dd>
                  <dd><ul>
                    <li>Assistant cataloger of the <a href="http://www.biblioserver.com/newberry/index.php?m=search&amp;id=&amp;ftype=data&amp;q=-%20road%20maps">Rand McNally map archive</a>, using AACR2 and Library of Congress vocabularies.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Collections Manager – <a href="http://rkramerassociates.com">Roberta Kramer and Associates, Inc.</a>, Chicago</dt>
                  <dd>January 2004 – August 2010</dd>
                  <dd><ul>
                    <li>Developed software for a firm specializing in art collections.</li>
                    <li>Clients included the <a href="http://www.northerntrust.com/">Northern Trust Company</a>, <a href="http://www.albion.edu/academics/departments/art-and-art-history/albion-college-art-collection">Albion College</a>, and high-end private collections.</li>
                    <li>Photographed / digitized artworks for these applications.  Regular handling of artwork.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Collections Assistant – University of Illinois at Chicago, <a href="http://collections.carli.illinois.edu/index.php">Visual Resources Library</a></dt>
                  <dd>September 2007 – May 2008</dd>
                  <dd><ul>
                    <li>Graduate Assistantship.</li>
                    <li>Researched and digitized images for the university’s slide collection.</li>
                    <li>Regular use of VRA Core, CARLI, ContentDM, LUNA, ARTstor and the UIC OPAC.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Director of Technology – <a href="http://handbellservices.com">Handbell Services, Inc.</a>, Dearborn MI</dt>
                  <dd>1999 – 2007</dd>
                  <dd><ul>
                    <li>  Worked via telecommute.</li>
                    <li>Developed systems for a small retail firm specializing in music education.</li>
                    <li>Converted a legacy website to Drupal.</li>
                    <li>Designed catalogs and graphics for products.</li>
                    <li>Illustrated a <a href="/works/healthy_ringing">200 page book</a>.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Graphic Designer – Freelance</dt>
                  <dd>1999 – 2007</dd>
                  <dd><ul>
                    <li>Designed publications and websites for various private clients.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Preparator – <a href="http://www.hammergallery.com/">Carl Hammer Gallery</a>, Chicago</dt>
                  <dd>October 2000 – March 2002</dd>
                  <dd><ul>
                    <li>Worked with inventory and consignments, organization and logistics, art shows, art packing and handling.
                    <li>Direct and regular handling of artwork.</li>
                    <li>Direct and regular contact with the public.</li>
                  </ul></dd>
              </dl>
            </div><!-- accordion inner -->
          </div><!-- accordion body -->
        </div><!-- accordion group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse_skills" href="#collapse_skills">
              <h4>Skills</h4>
            </a>
          </div>
          <div id="collapse_skills" class="accordion-body collapse">
            <div class="accordion-inner">
              <dl>
                <dt>Library, Collection and Data Management</dt>
                  <dd><ul>
                    <li>Data curation and digital preservation with XML (METS, MODS) and the OAIS model.</li>
                    <li>Online exhibits with Omeka or Drupal.</li>
                    <li>Collection management with RDA, MARC, Dublin Core, and the LC authorities.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Software Development</dt>
                  <dd><ul>
                    <li>FileMaker Pro.</li>
                    <li>Microsoft Word, Excel and PowerPoint.</li>
                    <li>Adobe Photoshop, Illustrator and InDesign.</li>
                    <li>Macintosh OS: all versions up to OSX 10.8 (Mountain Lion); Snow Leopard Server.</li>
                    <li>Windows: all versions up to Windows 7.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Photography, Digitization, Media</dt>
                  <dd><ul>
                    <li>35mm/digital SLR equipment and procedures, including cataloging and preservation.</li>
                    <li>Scanning equipment, digitization procedures and software.</li>
                    <li>Adobe Photoshop, Lightroom and Bridge.</li>
                    <li>Drawing, painting and illustration.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt>Language</dt>
                  <dd><ul>
                    <li>German: reading ability.</li>
                    <li>French, Italian, Spanish: bibliographic ability.</li>
                  </ul></dd>
              </dl>
            </div><!-- accordion inner -->
          </div><!-- accordion body -->
        </div><!-- accordion group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse_publications" href="#collapse_publications">
              <h4>Publications</h4>
            </a>
          </div>
          <div id="collapse_publications" class="accordion-body collapse">
            <div class="accordion-inner">
              <dl>
                <dt><em><a href="/works/connchem">The Connected Chemistry Curriculum</a> (Vol. 1-9)</em></dt>
                  <dd>Stieff, M., Nighelli, T., Yip, J., Ryan, S., &amp; Berry, A. (2012). Chicago, IL: University of Illinois at Chicago.</dd>
                  <dd><ul>
                    <li>I designed the books and related software, including hundreds of sub-molecular illustrations and simulations.</li>
                  </ul></dd>
              </dl>
              <dl>
                <dt><em><a href="/works/healthy_ringing">Healthy Ringing</a></em></dt>
                  <dd>Berry, S., &amp; Berry, A. (1999, 2012). Dearborn, MI: Handbell Services, Inc.</dd>
                  <dd><ul>
                    <li>I contributed over 200 illustrations.</li>
                  </ul></dd>
              </dl>
            </div><!-- accordion inner -->
          </div><!-- accordion body -->
        </div><!-- accordion group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse_associations" href="#collapse_associations">
              <h4>Associations</h4>
            </a>
          </div>
          <div id="collapse_associations" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul>
                <li>American Library Association</li>
                <li>College Art Association</li>
                <li>Art Libraries Association of North America</li>
              </ul>
            </div><!-- accordion inner -->
          </div><!-- accordion body -->
        </div><!-- accordion group -->
      </div>
    </div>

    <div class="tab-pane" id="colophon">
      <p class="lead">Technology Stack</p>
      <p>This website is made with a combination of these technologies:</p>

      <table class="table table-bordered table-hover table-striped">
        <thead><tr><th colspan="2 inverse">Programming &amp; Development</th></tr></thead>
        <tbody><tr><td><a href="http://www.ruby-lang.org/en/" alt="">Ruby</a></td><td>Programming language (server)</td></tr>
          <tr><td><a href="http://www.sinatrarb.com/" alt="">Sinatra</a></td><td>Web application framework</td></tr>
          <tr><td><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" alt="">HTML5</a></td><td>Markup</td></tr>
          <tr><td><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript?redirectlocale=en-US&amp;redirectslug=JavaScript" alt="">JavaScript</a></td><td>Programming language (client)</td></tr>
          <tr><td><a href="http://jquery.com/" alt="">JQuery</a></td><td>Interactivity framework</td></tr>
          <tr><td><a href="http://processing.org" alt="">Processing</a> &amp; <a href="http://processingjs.org/" alt="">Processing.js</a></td><td>Data Visualization</td></tr>
          <tr><td><a href="http://d3js.org/" alt="">Data Driven Documents</a> (D3)</td><td>JavaScript SVG framework</td></tr>
        </tbody>
        
        <thead><tr><th colspan="2">Design &amp; View</th></tr></thead>
        <tbody><tr><td><a href="http://twitter.github.io/bootstrap/" alt="">Twitter Bootstrap</a></td><td>User interface</td></tr>
          <tr><td><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" alt="">Cascading Style Sheets</a></td><td>Styles</td></tr>
          <tr><td><a href="http://www.google.com/fonts/" alt="">Google Fonts</a>, specifically <a href="http://www.google.com/fonts/specimen/Montserrat">Montserrat</a></td><td>Web fonts</td></tr>
          <tr><td><a href="http://en.wikipedia.org/wiki/Adobe_Illustrator" alt="">Adobe Illustrator</a></td><td>Vector graphics</td></tr>
          <tr><td><a href="http://en.wikipedia.org/wiki/Adobe_Photoshop" alt="">Adobe Photoshop</a></td><td>Raster graphics</td></tr>
          <tr><td><a href="http://www.adobe.com/products/photoshop-lightroom.html" alt="">Adobe Photoshop Lightroom</a></td><td>Image management</td></tr>
        </tbody>

        <thead><tr><th colspan="2">Data</th></tr></thead>
        <tbody><tr><td><a href="http://daringfireball.net/projects/markdown/" alt="">Markdown</a></td><td>Markup (for blog posts)</td></tr>
          <tr><td><a href="http://www.yaml.org/" alt="">YAML</a></td><td>Markup (for data, in lieu of a database)</td></tr>
          <tr><td><a href="http://www.getty.edu/research/publications/electronic_publications/cdwa/index.html" alt="">CDWA</a> (CDWA Lite)</td><td>Data fields (adapted)</td></tr>
          <!--<tr><td><a href="http://www.w3.org/RDF/" alt="">RDF</a></td><td>Associations</td></tr>-->
        </tbody>

        <thead><tr><th colspan="2">Backend &amp; Secondary</th></tr></thead>
        <tbody><tr><td><a href="http://git-scm.com/" alt="">Git</a></td><td>Version control</td></tr>
          <tr><td><a href="https://github.com/" alt="">Github</a></td><td>Version repository and deployment staging area</td></tr>
          <tr><td><a href="http://www.webfaction.com/" alt="">Webfaction</a></td><td>Web host</td></tr>
          <tr><td><a href="https://www.hover.com/" alt="">Hover</a></td><td>Domain registrar</td></tr>
          <tr><td><a href="http://wiki.nginx.org/Main">nginx</a></td><td>Web server</td></tr>
          <tr><td>Macintosh OSX <a href="https://en.wikipedia.org/wiki/Mac_OS_X_Lion" alt="">Lion</a></td><td>operating system (development)</td></tr>
          <tr><td><a href="http://www.centos.org/">Centos</a></td><td>Operating system (production)</td></li>
          <tr><td><a href="http://www.sublimetext.com/" alt="">Sublime Text</a></td><td>Text editor (local)</td></tr>
          <tr><td><a href="http://www.vim.org/" alt="">vim</a></td><td>Text editor (remote)</td></tr>
          <tr><td><a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> and its <a href="https://developers.google.com/chrome-developer-tools/" alt="">Developer Tools</a></td><td>Browser and debugging</td></tr>
          <tr><td><a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)">bash</a></td><td>Unix shell</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>