<h1 class="page-header">About</h1>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">About Allan Berry</a></li>
    <li><a href="#tab2" data-toggle="tab">Colophon</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p class="lead">This is a paragraph explaining who I am.</p>
      <p>Sed dignissim interdum massa, at consectetur nisl porta et. Nam vitae urna nec erat tincidunt rutrum. Aliquam odio turpis, placerat in cursus vel, lacinia id augue. Sed vestibulum magna a lacus gravida ullamcorper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit pharetra urna, ac dapibus velit porta ut. Cras venenatis ligula erat, in consectetur mauris.</p>
      <p>Nulla porta vestibulum ipsum non euismod. Fusce egestas fringilla velit ac euismod. Nullam auctor viverra leo non ullamcorper. Pellentesque fermentum vehicula scelerisque. Suspendisse sollicitudin iaculis vulputate. Duis vulputate ullamcorper velit, at commodo magna placerat sed. Nullam a ipsum massa. Aenean et fringilla metus.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p class="lead">This website is made with a combination of these technologies:</p>
      <dl>
        <li><dt><a href="#" alt="">Adobe Illustrator</a></dt></li>
        <li><dt><a href="#" alt="">Adobe Photoshop</a></dt></li>
        <li><dt><a href="#" alt="">Adobe Photoshop Lightroom</a></dt></li>
        <li><dt><a href="#" alt="">CDWA Lite</a></dt></li>
        <li><dt><a href="#" alt="">Chrome</a></dt></li>
        <li><dt><a href="#" alt="">Google Fonts</a></dt></li>
        <li><dt><a href="#" alt="">Git</a></dt></li>
        <li><dt><a href="#" alt="">Github</a></dt></li>
        <li><dt><a href="#" alt="">Hover</a></dt></li>
        <li><dt><a href="#" alt="">HTML5</a></dt></li>
        <li><dt><a href="#" alt="">JavaScript</a></dt></li>
        <li><dt><a href="#" alt="">JQuery</a></dt></li>
        <li><dt><a href="#" alt="">Macintosh OSX</a></dt></li>
        <li><dt><a href="#" alt="">Markdown</a></dt></li>
        <li><dt><a href="#" alt="">Processing</a> &amp; <a href="#" alt="">Processing.js</a></dt></li>
        <li><dt><a href="#" alt="">RDF</a></dt></li>
        <li><dt><a href="#" alt="">Ruby</a></dt></li>
        <li><dt><a href="#" alt="">Sinatra</a></dt></li>
        <li><dt><a href="#" alt="">Sublime Text</a></dt></li>
        <li><dt><a href="#" alt="">Twitter Bootstrap</a></dt></li>
        <li><dt><a href="#" alt="">Webfaction</a></dt></li>
        <li><dt><a href="#" alt="">YAML</a></dt></li>
      </dl>
    </div>
  </div>
</div>