<h1 class="page-header">Fine Art</h1>
<p class="lead">I am trained as a painter and photographer, and have been making art since I was young.</p>
<p>Conceptually, I am somewhat of a formalist (a rare bird these days). I'm preoccupied with with space, balance, design: objects matter, and their appearance conveys their state.  After all, an object's appearance is one interface to its internal qualities, whether to its functions or its constituent parts.</p>
<p>However, I'm not strictly a functionalist. There's nothing intrinsically useful about a painting, yet I make them anyways.  I like looking at things, and making paintings is a good way to explore how things look.</p>
<p>I've long had an academic interest in the figure, which has  recently given way to geography, data systems and collections: interests which broadly inflect some of my recent and current work.</p>

<% @works = works %>
<%= partial :thumbs %>