<h1 class="page-header">Colophon</h1>
<p class="lead">This website was written by Allan Berry, using a combination of these technologies:</p>
<ul>
  <li>HTML5</li>
  <li>Ruby</li>
  <li>Sinatra</li>
  <li>Twitter Bootstrap</li>
</ul>
<p>It is hosted on Webfaction.</p>
<h4><a href="about">About</a></h4>