<h1 class="page-header">Copyright</h1>
<p class="lead">In general, I'm pretty cool about people using my stuff... if they're cool in return.</p>

<p>Basically, everything here is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons (CC BY-SA 3.0) License</a>.</small></p>

<p>In other words, you are allowed to use my stuff, copy my stuff, change my stuff, and whatever else you want to do with my stuff.  You just have to tell people from where you got the ideas.  It's basic courtesy, really.</p>
<p>If you want, I would happily also take donations.</p>