<h1 class="page-header">Copyright</h1>
<p class="lead">In general, I'm pretty cool about people using my stuff... if they return the favor.</p>

<p>Basically, most everything here is licensed under a permissive <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons (CC BY-SA 3.0) License</a>.</small></p>

<p>In other words, you are allowed to use my stuff, copy my stuff, change my stuff, and whatever else you want to do with my stuff.  You can even sell my stuff if you want.  You just have to tell people from where you got it.  It's basic courtesy, really.</p>
<p>Of course, other terms may trump this page:</p>
  <ul>
    <li>I reserve the right to apply different terms or other licenses for particular content, marked accordingly.</li>
    <li>I reserve the right to apply more restrictive licenses in the future.</li>
    <li>This license does not apply to any content copyrighted by somebody else, even if its included in or linked to from this site.</li>
  </ul>
<p>I would happily also take donations:</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA9GyqGOegaX7VMXkdwXcmheDuStuCRuGjJe1CyhtOGsrSOCWbo3xu5WtIix3vguamxIdqF1F/Fcctqhe36cnrbnBuDfTAb8mbo5hg2Wo85pc7i/3vBgRNYcxXw9cyVM4Fn9UJQVfGGpSD0xpo6bI0JD424ipo3HUCy2ZwgVLGIRTELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIxBjnASVu3eOAgYgNxz8duTHINiqEK3UVNyfl/9NzPcBNGFXNb1IXVaFPfiYtcNfI5OI9wP/IpuhSQPTkv4u3Ppl5CCsHlNsTkAFzsJRbC6sXG30kOAUs7zhYGKEhq/ZBY/cu3ojwIju/t5KbjPjtc9r/h1SivhgDXBbpM62423br8iUvKh2Tw8BZeh49pFCk1iTCoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMwNjIzMTczMzE4WjAjBgkqhkiG9w0BCQQxFgQUT4Nm2mDCZbkbjfQ2nEmEUJBthhUwDQYJKoZIhvcNAQEBBQAEgYApNw7IDXBLsOJN99JeVtRAOkcAChLWrsTW8lg+RpNVaBSMTvpoigVUYjM/4VPqkx9RruvZCoLl0uXdeRMXEessy5MZvZxcDrpf4u7OABZS3lG8jjlavO//b17qtqn7RsIZRl/IvPOYN0AElgTJRYzbuf0hMyGphTsRS8Lt13S33g==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p class="lead">Thanks.</p>
