<h1 class="page-header">Design</h1>
<p class="lead">I mean to convey information visually.</p>

<p>My design work emphasizes simplicity over style: a gestalt leaning toward communication and intrinsic, intuitive meaning.  I seek a language of form.  This implies a substantial reliance on iconography and established systems: I seek less to break barriers than to create inclusive, unified visual spaces, often for the sake of pedagogy.</p>
<p>Much of my graphic design work has been for my family's company in Michigan, <a href="http://handbellservices.com" alt="Handbell Services homepage">Handbell Services, Inc.</a>, a firm dealing in supplies and educational services for a specialized niche of musicians. Within this handbell work in particular, I rely on systems, grids, and standard fonts, as these conventions have yet to be rigorously established in this field.</p>
<p>I allow more flexibility in my other work, while still defaulting toward clarity, concision, and communication.</p>

<% @works = works %>
<%= partial :thumbs %>