<h1 class="page-header">Handbell Services, Inc.</h1>
<p class="lead">My family's company, in Dearborn, MI.</p>
<p>Much of my illustration and design work has been done for <a href="http://handbellservices.com">Handbell Services, Inc.</a>, a company started by my mom, Susan Berry, in 1990.</p>

<% @works = works %>
<%= partial :thumbs %>