<div id="splash-header" class="hero-unit less">
  <h1>Allan Berry's website</h1>
</div>
  <p class='lead text-center'>This website is brand new; I'm still filling in some of the gaps. Thanks for visiting!</p>
<p></p>

<ul class="thumbnails">
  <li class="span4">
    <div>
      <a href="preservation" class="thumbnail">
        <img src="/img/site/splash/preservation.jpg" alt="">
      </a>
      <h4>Systems &amp; Digital Preservation</h4>
      <p>I create and manage collections.</p>
    </div>
  </li>
  <li class="span4">
    <div>
      <a href="design" class="thumbnail">
        <img src="/img/site/splash/design.png" alt="">
      </a>
      <h4>Design &amp; Illustration</h4>
      <p>I make graphics with pen and keyboard.</p>
    </div>
  </li>
  <li class="span4">
    <div>
      <a href="art" class="thumbnail">
        <img src="/img/site/splash/art.jpg" alt="">
      </a>
      <h4>Fine Art</h4>
      <p>I am trained in art and art history.</p>
    </div>
  </li>
</ul>