<div class="hero-unit">
  <h1>Hi.</h1>
  <p>Allan Berry is a librarian designer living in Chicago, Illinois.</p>
</div>

<ul class="thumbnails">
  <li class="span4">
    <div>
      <a href="preservation" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
      <h4>Digital Preservation</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span4">
    <div>
      <a href="design" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
      <h4>Graphic Design</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span4">
    <div>
      <a href="art" class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
      </a>
      <h4>Fine Art</h4>
      <p>Thumbnail caption...</p>
    </div>
  </li>
</ul>