<h1 class="page-header">Systems &amp; Digital Preservation</h1>
<p class="lead">I am trained in Library and Information Science, in particular with special collections.</p>

<p>I have extensive experience handling and documenting valuable artworks, and I have a broad technological background. During graduate school I made a comprehensive study of efficient systems design, including project management, user experiences and digital preservation.  Some of these projects are documented here.</p>
<p>Currently I'm gathering further skills with data curation, in particular using tools such as <a href="http://drupal.org">Drupal</a>, <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://projecthydra.org/">Hydra</a>.  I am particularly interested in issues with pedagogy, user experience and long-term access.</p>

<% @works = works %>
<%= partial :thumbs %>