<h1 class="page-header">Sketchbook</h1>
<div class="pull-left" style="padding-right: 30px">
  <canvas data-processing-sources="/p5/hello_3d/hello_3d.pde"></canvas>
</div>

<p class="lead">Playing with code.</p>
<p>Items here are <em>sketches</em>, meaning:</p>
<ul>
  <li>Not to be taken too seriously.</li>
  <li><em>Probably</em> of a smaller scale than my more full-fledged projects (although, some sketches will be featured as projects elsewhere in this site).</li>
  <li>Usually born-digital in nature.</li>
</ul>
<p>This section is in active development... please excuse any bugs, etc.</p>

<p class='muted'>Things will look best on <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.apple.com/safari/">Safari</a>.  <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> will work too, or <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer 9</a> and up, but some effects may not be perfect.</p>

<hr />

<dl>
  <dt><a href="/sketches/hello_p5">Hello Processing</a></dt>
  <dd>June, 2013: A test of Processing.</dd>

  <dt><a href="/sketches/hello_3d">Hello 3D</a></dt>
  <dd>June, 2013: A test of WebGL via Processing.</dd>

  <dt><a href="/sketches/hello_d3svg">Hello D3 and SVG</a></dt>
  <dd>June, 2013: A test of Data Driven Documents and linked SVG.</dd>

  <dt><a href="/sketches/hexagons">Hexagons</a></dt>
  <dd>28 June, 2013: Making it work with hexagons.</dd>

  <dt><a href="/sketches/mucha">mucha</a></dt>
  <dd>July-August, 2013 (in progress): Art as interface.</dd>

</dl>