<h1 class="page-header">Software &amp; Systems</h1>
<p class="lead">I approach software from the perspective of design.</p>
<p>Systems of all sorts, and software in particular, is subject to aesthetics and quality: both within the interface and on the back-end.  In particular, the structure of data and the architectures of software closely follow design principles in depth.</p>
<p>I have only recently come into designing and executing software systems, but I am well underway with a comprehensive survey of contemporary software design techniques.</p>
<p>Web applications and mobile technologies are my current focus, although with Connected Chemistry I worked in straight Java.  I can code in Java, Ruby, PHP and JavaScript.  I prefer agile methodologies and frameworks.</p>

<p></p>

<% @works = works %>
<%= partial :thumbs %>