<h1 class="page-header">Allan's Projects</h1>
<p class="lead">My work blurs boundaries of preservation, design and art.</p>

<p>All of the works on my website are available here.</p>
<p>I am interested in the nexus of library science and the visual disciplines, in particular with system interfaces and the role of analog artworks and special collections in the digital age.  I also have a strong predilection for geography, geometry, and pattern systems.</p>
<p>For more context, please visit some of the subsets of this collection: <a href="/preservation">Preservation</a>, <a href="/design">Design</a> and <a href="/art">Art</a>.</p>

<% @works = works %>
<%= partial :thumbs %>